// app global css in SCSS form
// app global css in SCSS form
@import "layout";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  content: none;
}
blockquote:before, blockquote:after {
  content: "";
}

q {
  content: none;
}
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-center {
  text-align: center;
}
.text-black {
  color: #111111;
}
.text-white {
  color: #fff;
}

.container {
  padding: 0 30px;
}

html, body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: #12121D;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
}

h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.text-center {
  text-align: center;
}

/* custom scrollbar */
.header {
  display: flex;
  padding: 24px 30px;
  justify-content: flex-end;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__logo img {
  display: block;
}
.header__invite {
  color: #757575;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

body, html {
  height: 100vh;
  overflow-x: hidden;
}

//body {
//  display: flex;
//  flex-direction: column;
//  background: #EFEFEF;
//}

main {
  flex-grow: 1;
}

.footer {
  padding: 40px 30px;
  font-size: 12px;
  line-height: 16px;
  color: #12121D;
  background: #fff;
}
.footer p {
  text-align: center;
}

.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: -0.01em;
  font-size: 16px;
  padding: 19px;
  border-radius: 8px;
  color: #111111;
  background: linear-gradient(180deg, #E0E0E0 0%, #D1D1D1 100%);
  border: 1px solid #D4D4D4;
}
.btn--primary {
  color: #fff;
  background: #2250FC;
  border: none;
}
.btn--transparent {
  background: transparent;
}

.input {
  background: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 16px 29px 16px 15px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}
.input::placeholder {
  color: #757575;
  opacity: 1;
}
.input--borderDark {
  border-color: #C4C4C4;
}

.stepper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepper__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stepper__step:before, .stepper__step:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background: #757575;
  width: calc(50% - 12px);
  top: 12px;
}
.stepper__step:before {
  left: 0;
}
.stepper__step:after {
  right: 0;
}
.stepper__step:first-child:before {
  display: none;
}
.stepper__step:last-child:after {
  display: none;
}
.stepper__step--active .stepper__circle {
  border-color: #2250FC;
}
.stepper__step--active .stepper__circle:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #2250FC;
  border-radius: 14px;
}
.stepper__step--complete .stepper__circle {
  border-color: #1FB731;
  background-color: #1FB731;
  background-image: url(../assets/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.stepper__step--complete:after {
  background: #1FB731;
}
.stepper__step--complete + .stepper__step:before {
  background: #1FB731;
}
.stepper__circle {
  width: 24px;
  height: 24px;
  border: 1px solid #757575;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px 4px 25px;
}
.stepper__text {
  color: #757575;
  font-size: 14px;
  line-height: 20px;
}

.warning {
  border: 1px solid #F84949;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 16px;
  color: #F84949;
}

.seed-phrase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 32px 32px 32px 32px;
  grid-gap: 3px;
  border: 1px solid #757575;
  border-radius: 8px;
  padding: 6px;
  width: 100%;
  height: 151px;
  background: transparent;
}
.seed-phrase__word {
  background: #C4C4C4;
  border-radius: 4px;
  font-size: 14px;
  line-height: 32px;
  color: #111111;
  text-align: center;
  padding: 0;
}

.welcome {
  padding-top: 50px;
  background-color: #fff;
  flex-grow: 1;
}
.welcome__title {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 83px;
}
.welcome__subtitle {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #12121D;
  margin-bottom: 10px;
}
.welcome__link {
  color: #2250FC;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.welcome__btn {
  margin-bottom: 10px;
}

.import__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
  padding: 20px 0;
}
.import__input {
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  background: transparent;
  font-size: 14px;
  line-height: 20px;
  padding: 0 7px;
  width: 100%;
  outline: none;
}
.import__inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.import__inputWrap > label {
  min-width: 18px;
}
.import__password {
  margin-bottom: 10px;
}
.import__btn {
  margin-top: 20px;
}

.create-wallet {
  padding-top: 20px;
}
.create-wallet h1 {
  margin-bottom: 10px;
}
.create-wallet__stepper {
  margin-bottom: 30px;
}
.create-wallet__warning {
  margin-top: 40px;
  margin-bottom: 30px;
}
.create-wallet__seed-phrase {
  margin-bottom: 20px;
}
.create-wallet__password {
  margin-bottom: 10px;
}
.create-wallet__btn {
  margin-bottom: 10px;
  margin-top: 20px;
}
.q-layout__section--marginal {
    background-color: transparent;
}
.q-field--standard .q-field__control:before {
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
  }

  .import__inputWrap{
    .q-field__control {
        height: 36px !important;
    }
  }
.input--borderDark {
  .q-field--filled.q-field--highlighted .q-field__control:before {
      opacity: 1;
      background: transparent;
  }

}
.input--borderDark.input{
    padding: 0 !important;
    overflow: hidden;
    width: auto;
}
.input--borderDark .q-field__control{
   background: #fff!important;
}
