@import "layout"
@import "src/sass/main"

//quasar colors
.bg-blue-transparent
  background: $blue-transparent !important
.text-blue-transparent
  color: $blue-transparent !important

.bg-blue-light
  background: $blue-light !important
.text-blue-light
  color: $blue-light !important

.bg-grey-gradient
  background: $grey-gradient !important
.text-grey-gradient
  color: $grey-gradient !important

.bg-white-dark
  background: $white-dark !important
.text-white-dark
  color: $white-dark !important

//layout fix
.layout
  &__root
    display: flex
    flex-direction: column
    background: $white-dark

  &__main
    flex-grow: 1
    display: flex
    flex-direction: column

//quasar style fixes
.q-card
  border-radius: 8px

.q-layout__section--marginal
  background-color: transparent

.q-field--standard .q-field__control:before
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important

  .import__inputWrap
    .q-field__control
      height: 36px !important

.input--borderDark
  .q-field--filled.q-field--highlighted .q-field__control:before
    opacity: 1
    background: transparent

.input--borderDark.input
  padding: 0 !important
  overflow: hidden
  width: auto

.input--borderDark .q-field__control
  background: #fff!important

.dialog > .q-dialog__backdrop
  background: rgba(0, 0, 0, 0.8)

.input--borderDark.q-field--readonly .q-field__control:before
  display: none

