.header
  display: flex
  padding: 24px 30px
  justify-content: flex-end
  align-items: center

  &__logo
    margin-right: auto

    img
      display: block

  &__invite
    color: $grey-dark
    font:
      size: 12px
      family: $font_manrope
      weight: 700