<pre id="debug"></pre>
<div>Attempt&nbsp;<span id="attempt"></span></div>
<div>Camera&nbsp;<span id="camera"></span></div>
<video id="preview" autoplay="true"></video>
<div id="cameras-switch"></div>
<canvas id="canvas" hidden></canvas>
